<ion-view class="page-customer">
	<ion-header-bar class="bar-assertive">
		<div class="buttons" ng-if="project">
			<button class="button button-icon icon ion-ios-arrow-left" ng-click="goBack('home.explore')"></button>
		</div>
		<div class="h1 title">{{ project ? (project.title + '意向客户') : '我的意向客户' }}</div>
		<div class="buttons">
			<button class="button icon-left ion-ios-personadd button-icon" ui-sref="recommend"></button>
		</div>
	</ion-header-bar>
	<ion-content>
		<div class="list customer-list">
			<div class="item item-input-inset list-searchbox">
				<label class="item-input-wrapper">
					<input type="text" placeholder="输入客户电话号码或姓名">
				</label>
				<button class="button button-icon icon ion-ios-search"></button>
			</div>
			<a class="item" ng-repeat="item in customers">
				{{ item.name }} <span class="info">{{ item.phone }}</span>
				<br />
				<span class="info">
					<span ng-repeat="project in item.projects">{{ project.name }}</span>
					<span class="d">,</span>
				</span>
				<span class="status">{{ item.status | customerStatus }}</span>
			</a>
		</div>
	</ion-content>
</ion-view>