<ion-header-bar class="bar-assertive">
	<div class="h1 title">个人中心</div>
</ion-header-bar>
<ion-view class="page-profile">
	<ion-content>
		<div class="list">
			<a class="item item-icon-right profile-info" ui-sref="profileSetting">
				<div class="icon ion-ios-person cover">
				</div>
				<span class="phone">13810576227</span>
				<span class="status">未身份证认证</span>
				<span class="item-note">基本信息<br />实名认证</span>
				<i class="icon ion-ios-arrow-right"></i>
			</a>
			<a class="item item-icon-left item-icon-right" ui-sref="authenticationID">
				<i class="icon ion-ios-flag-outline"></i>
				实名认证
				<i class="icon ion-ios-arrow-right"></i>
			</a>
		</div>

		<div class="list">
			<a class="item item-icon-left item-icon-right">
				<i class="icon ion-ios-checkmark-outline"></i>
				已结佣金：<span class="hl">￥1000.0</span>
				<span class="item-note">明细</span>
				<i class="icon ion-ios-arrow-right"></i>
			</a>
			<a class="item item-icon-left item-icon-right">
				<i class="icon ion-ios-clock-outline"></i>
				待结佣金：<span class="hl">￥1000.0</span>
				<span class="item-note">明细</span>
				<i class="icon ion-ios-arrow-right"></i>
			</a>
			<a class="item item-icon-left item-icon-right" ui-sref="home.customer">
				<i class="icon ion-ios-people-outline"></i>
				我推荐的客户
				<span class="item-note">20人</span>
				<i class="icon ion-ios-arrow-right"></i>
			</a>
		</div>

		<div class="list">
			<a class="item item-icon-left item-icon-right">
				<i class="icon ion-ios-analytics-outline"></i>
				合伙人奖励：<span class="hl">￥1000.0</span>
				<span class="item-note">邀请、成交</span>
				<i class="icon ion-ios-arrow-right"></i>
			</a>
			<a class="item item-icon-left item-icon-right" ui-sref="inviter">
				<i class="icon ion-ios-color-filter-outline"></i>
				我邀请的合伙人
				<span class="item-note">42人</span>
				<i class="icon ion-ios-arrow-right"></i>
			</a>
		</div>

		<div class="list">
			<a class="item" style="text-align:center;">
				退出当前账号
			</a>
		</div>
	</ion-content>
</ion-view>