<ion-view>
<ion-tabs class="tabs-icon-top tabs-striped tabs-color-assertive tabs-background-stable">
	<ion-tab title="首页" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" ui-sref="home.explore">
		<ion-nav-view animation="slide-left-right" name="view-explore"></ion-nav-view>
	</ion-tab>
	<ion-tab title="我的客户" icon-on="ion-ios-people" icon-off="ion-ios-people-outline" ui-sref="home.customer">
		<ion-nav-view animation="slide-left-right" name="view-customer"></ion-nav-view>
	</ion-tab>
	<ion-tab title="动态" icon-on="ion-ios-pulse-strong" icon-off="ion-ios-pulse" ui-sref="home.updates">
		<ion-nav-view animation="slide-left-right" name="view-updates"></ion-nav-view>
	</ion-tab>
	<ion-tab title="我" icon-on="ion-ios-person" icon-off="ion-ios-person-outline" ui-sref="home.profile">
		<ion-nav-view animation="slide-left-right" name="view-profile"></ion-nav-view>
	</ion-tab>
</ion-tabs>
</ion-view>