<ion-view class="page-explore">

	<ion-header-bar class="bar-assertive">
		<div class="h1 title">房产合伙人</div>
	</ion-header-bar>

	<ion-content>
		
		<ion-slide-box does-continue="true" auto-play="true">
			<ion-slide ng-repeat="banner in banners">
				<img ng-src="{{ banner.img }}" />
			</ion-slide>
		</ion-slide-box>

		<div class="row op-grid">
			<div class="col">
				<button class="button button-assertive ion-ios-plus-outline icon-left" ui-sref="recommend">我要推荐</button>
			</div>
			<div class="col">
				<button class="button button-assertive ion-ios-people-outline icon-left" ui-sref="home.customer">我的客户</button>
			</div>
		</div>
		<div class="row op-grid">
			<div class="col">
				<button class="button button-assertive ion-ios-pie-outline icon-left" ui-sref="commission">我的佣金</button>
			</div>
			<div class="col">
				<button class="button button-assertive ion-ios-list-outline icon-left" ui-sref="rules">活动规则</button>
			</div>
		</div>
		<div class="row op-grid">
			<div class="col">
				<button class="button button-assertive" style="text-align:center;" ui-sref="invitation">邀请合伙人，佣金共享</button>
			</div>
		</div>
		<div class="city icon ion-ios-location-outline">南宁 · 热盘</div>
		<ul class="cards">
			<li class="list card" ng-repeat="card in cards">
				<div class="item item-image" ng-click="goDetail(card)">
					<img ng-src="{{ card.img }}">
					<p class="info" ng-bind="card.title"></p>
				</div>
				<button class="item button button-clear ion-ios-plus-outline icon-right button-assertive" ng-click="addCustomer(card)">
					推荐客户
				</button>
			</li>
		</ul>

	</ion-content>
</ion-view>