<ion-view class="page-setting">
	<ion-header-bar class="bar-assertive">
		<div class="buttons">
			<button class="button button-icon icon ion-ios-arrow-left" ng-click="goBack('home.profile')"></button>
		</div>
		<div class="h1 title">个人资料</div>
	</ion-header-bar>

	<ion-content>
		<div class="list">
			<label class="item item-input">
				<span class="input-label">手机</span>
				{{ form.phone }}
			</label>
			<label class="item item-input">
				<span class="input-label">真实姓名</span>
				{{ form.realname }}
			</label>
			<label class="item item-input">
				<span class="input-label">年龄</span>
				<input type="text" ng-model="form.age" placeholder="输入年龄">
			</label>
			<label class="item item-input item-select">
				<span class="input-label">性别</span>
				<select>
					<option>请选项客户性别</option>
					<option>男</option>
					<option>女</option>
				</select>
			</label>
		</div>

		<div class="list">
			<div class="item item-input">
				<span class="input-label">上线</span>
				张家乐(13810523124)
			</div>
		</div>

		<div class="form-submit">
			<button class="button button-assertive">保存</button>
		</div>
	</ion-content>
</ion-view>